// Main-Color
$lightGray: #f5efe7;
$backgroundColor: #f9f7f7;
$skyColor: #dbe2ef;
$seaBlue: #3f72af;
$darkBlue: #112d4e;

// Font
$font: Noto Sans KR;
$Header: 36px;
$semiHeader: 28px;
$body: 16px;
$phone: 24px;
$Li: 16px;

* {
  font-family: $font;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: $backgroundColor;
}

:root {
  font-size: $body;
}

.navigator {
  width: 100%;
  height: auto;
  min-height: 80px;
  top: 0%;
  display: flex;
  padding: 1rem 5.3125rem;
  justify-content: center;
  position: fixed;
  background-color: transparent;

  @media screen and (max-width: 800px) {
    justify-content: flex-end;
  }
}

.tapBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  background-color: transparent;
}

.navigator > .tapBtn > .hamburgerBtn {
  display: flex;
  justify-content: flex-end;
  height: auto;
  align-items: flex-end;
  background-color: transparent;
  flex-direction: column;
  cursor: pointer;
}
@keyframes setMotion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigator > .tapBtn > .hamburgerBtn > .tapBtn-bar {
  margin-top: 15px;
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 90px;
  background-color: transparent;
  animation: setMotion 1s;
}

.navigator > .tapBtn > .hamburgerBtn:hover > .tapBtn-bar {
  display: flex;
}

.navi_btn_800 {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: stretch;
  cursor: pointer;
  color: $seaBlue;
  font-size: 20px;
  font-weight: 600;
}

.navigator > .navi_ul {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.navigator > ul > .navi_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.75rem;
  height: 2.4375rem;
  padding: 0, 2rem;
  color: $seaBlue;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.phone_box {
  display: flex;
  width: 50rem;
  height: auto;
  padding: 1.0625rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #3f72af;

  @media screen and(max-width: 800px) {
    padding: 0;
    flex-direction: column;
    justify-content: center;

    > .myName_box {
      align-items: center;
    }

    > .phone_left {
      margin-bottom: 20px;
      align-items: center;

      > .link {
        align-items: center;
      }

      > .email_box {
        align-items: center;
        > p {
          font-size: 20px;
        }
      }
    }
  }
}

.myName_box {
  display: flex;
  width: 15.3125rem;
  height: 8.4375rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.myName_box > .name {
  color: $darkBlue;
  font-size: $Header;
  font-weight: 600;
  margin-bottom: 10px;
}
.myName_box > .front-end {
  font-weight: 600;
  font-size: $body;
}

.phone_left {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.phone_left > .link {
  display: flex;
  justify-content: end;
  gap: 5%;
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.phone_left > .email_box {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  > p {
    font-size: $phone;
    font-weight: 600;
  }
}

.phone_left > .link > .github {
  display: block;
  width: 50px;
  height: 100%;

  :hover {
    border-radius: 50%;
    background-color: black;

    #git {
      fill: $seaBlue;
    }
  }
}

.phone_left > .link > .velog {
  display: block;
  width: 50px;
  height: 100%;
  :hover {
    rect {
      fill: black;
    }
    path {
      fill: $seaBlue;
    }
  }
}
