// Main-Color
$lightGray: #f5efe7;
$backgroundColor: #f9f7f7;
$skyColor: #dbe2ef;
$seaBlue: #3f72af;
$darkBlue: #112d4e;

// Font
$font: "Noto Sans KR", sans-serif;
$Header: 36px;
$semiHeader: 28px;
$body: 16px;
$phone: 24px;
$Li: 18px;

:root {
  font-size: $body;
  font-family: $font;
}

* {
  font-family: $font;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
}

.topBTN {
  width: 40px;
  height: 40px;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  > img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    box-shadow: none;
  }
}

// Nav

.navigator {
  width: 100vw;
  height: auto;
  min-height: 80px;
  max-width: 1700px;
  top: 0%;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: transparent;
  opacity: 0.1;

  z-index: 100;

  @media screen and (max-width: 1000px) {
    justify-content: flex-end;
    padding-right: 20px;
    background-color: transparent;
    opacity: 1;
    &:hover {
      background-color: transparent;
    }
  }
  @media screen and (min-width: 1000px) {
    &:hover {
      animation: Navi_box 0.2s linear;
      opacity: 1;
      background-color: $backgroundColor;
    }
    &:active {
      opacity: 1;
      background-color: $backgroundColor;
    }
  }
}

@keyframes Navi_box {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.tapBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  background-color: transparent;
}

.navigator > .tapBtn > .hamburgerBtn {
  display: flex;
  justify-content: flex-end;
  height: auto;
  align-items: flex-end;
  background-color: transparent;
  flex-direction: column;
  cursor: pointer;
}
@keyframes setMotion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tagBtn-bar {
  background-color: white;
}

.navigator > .tapBtn > .hamburgerBtn > .tapBtn-bar {
  margin-top: 15px;
  display: none;
  width: 120px;
  background-color: white;
  animation: setMotion 1s;
}

.navigator > .tapBtn > .hamburgerBtn:hover > .tapBtn-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.navi_btn_800 {
  display: flex;
  padding: 10px 5px;
  list-style: none;
  cursor: pointer;
  color: $seaBlue;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  text-align: start;

  &:hover {
    animation: borderLine 0.5s linear;
    background-color: $seaBlue;
    color: white;
  }
  &:active {
    background-color: $seaBlue;
    color: white;
  }
}

@keyframes borderLine {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $seaBlue;
    color: white;
  }
}

.navigator > .navi_ul {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.navigator > ul {
  display: flex;
  justify-content: center;
}

.navigator > ul > .navi_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.75rem;
  height: 2.4375rem;
  padding: 0, 2rem;
  color: $seaBlue;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    animation: naviBtn 0.1s linear;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

@keyframes naviBtn {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

// body

.body {
  width: 100vw;
  display: flex;
  max-width: 1700px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
  margin-top: 100px;

  @media screen and (max-width: 1200px) {
    padding: 0 10rem;
  }

  @media screen and (max-width: 1000px) {
    margin-top: 60px;
    padding: 0 5rem;
  }

  @media screen and (max-width: 360px) {
    padding: 0 2rem;
  }
}

// Header
.header {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 1.0625rem 0.75rem;

  @media screen and (max-width: 850px) {
    justify-content: center;
  }
}

#header {
  font-size: $Header;
  color: $seaBlue;
  font-weight: 900;
}

.phone_box {
  display: flex;
  width: 100%;
  height: auto;
  padding: 1.0625rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #3f72af;

  @media screen and(max-width: 850px) {
    padding: 0;
    flex-direction: column;
    justify-content: center;

    > .myName_box {
      align-items: center;
    }

    > .phone_left {
      margin-bottom: 20px;
      align-items: center;

      > .link {
        align-items: center;
      }

      > .email_box {
        align-items: center;
        > p {
          font-size: 20px;
        }
      }
    }
  }
}

.myName_box {
  display: flex;
  width: 13.3125rem;
  height: 8.4375rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.myName_box > .name {
  color: $darkBlue;
  font-size: $Header;
  font-weight: 600;
  margin-bottom: 10px;
}
.myName_box > .front-end {
  font-weight: 600;
  font-size: $body;
}

.phone_left {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.phone_left > .link {
  display: flex;
  justify-content: end;
  gap: 5%;
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.phone_left > .email_box {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  > p {
    font-size: $phone;
    font-weight: 600;
  }
}

.phone_left > .link > .github {
  display: block;
  width: 50px;
  height: 100%;

  :hover {
    border-radius: 50%;
    background-color: black;

    #git {
      fill: $seaBlue;
    }
  }
}

.phone_left > .link > .velog {
  display: block;
  width: 50px;
  height: 100%;
  :hover {
    rect {
      fill: black;
    }
    path {
      fill: $seaBlue;
    }
  }
}

// Introduce

.column_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
}

.flex_box {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(max-width: 1300px) {
    flex-direction: column;

    > img {
      margin-bottom: 20px;
    }
  }

  > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  > .intro_box {
    > .intro_head > h1 {
      font-size: $Header;
      font-weight: 700;
      border-bottom: 3px solid $seaBlue;
      padding-bottom: 10px;
    }
    > .intro_span {
      padding: 20px;
      > li {
        margin-bottom: 30px;

        > span {
          font-size: $Li;
          font-weight: 500;
        }
      }
    }
  }
}

.flex-center-box {
  padding: 60px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }

  .skillBtn {
    width: 15rem;
    height: 7rem;
    padding: 3.5rem, 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3.125rem;
    background-color: $seaBlue;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    font-size: $Li;
    font-weight: 700;
    cursor: pointer;
  }
}

.modal {
  width: 100%;
  height: auto;
}

.skillBtn:hover {
  background-color: $darkBlue;
  color: white;
  box-shadow: none;
}

// skill - modal

@keyframes setModalMotion {
  0% {
    height: 0;
  }
  100% {
    height: 400px;
  }
}

@keyframes setModalMotion_out {
  0% {
    height: 400px;
  }

  100% {
    height: 0;
  }
}

.modal_background {
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_box {
  animation: setModalMotion 1s;
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: 400px;
  border-radius: 30px;
  border: 3px solid $seaBlue;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 15px, 20px;

  @media screen and (max-width: 850px) {
    margin-bottom: 20px;
  }
}

.modal_out {
  animation: setModalMotion_out 1s;
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: 0;
  border-radius: 30px;
  border: 3px solid $seaBlue;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 15px, 20px;
  visibility: hidden;
}

.modal_head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 15px 10px 0 0;
  > button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-image: url("./img/octicon_x-12.svg");
    background-size: cover;
  }
}
.modal-body-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-intro-box {
  margin-top: 5%;
  padding: 15px;

  border-radius: 10px;
  width: 80%;
  text-align: center;

  > span {
    width: 100%;
    font-size: 20px;
    white-space: pre-wrap;
  }
  @media screen and(max-width:650px) {
    margin-top: 0px;
  }
}

.modal-icon-box {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  list-style: none;
  gap: 1.5rem;
  width: 100%;
  flex-wrap: wrap;

  > li {
    width: 60px;
    height: auto;
    background-color: transparent;
    min-width: 60px;

    > img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    :hover {
      box-shadow: 0px 6px 6px 0px $seaBlue;
      border-radius: 10px;
    }
  }
  @media screen and (max-width: 650px) {
    > li {
      min-width: 45px;
      width: 45px;
    }
  }
}

// Education

#career-header {
  font-size: $semiHeader;
  font-weight: 700;

  padding-bottom: 10px;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 690px) and (max-width: 1000px) {
    font-size: 20px;
    white-space: pre-wrap;
    > div > h3 {
      font-size: 17px;
    }
  }
  @media screen and (max-width: 680px) {
    font-size: 17px;
    white-space: pre-wrap;
  }
}

.head-box {
  display: flex;
  width: 100%;
  border-bottom: 3px solid $darkBlue;
  > button {
    width: 100px;
    background-color: purple;
    color: white;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 5px;

    &:hover {
      box-shadow: none;
    }
  }

  > .github {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    &:hover {
      border-radius: 100%;
      background-color: black;

      #git {
        fill: $seaBlue;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    justify-content: space-between;
    align-items: end;
  }
  @media screen and (max-width: 680px) {
  }
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: auto;

  > li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 1.75rem;
  }
}

.date {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 8rem;
  white-space: hidden;
  margin-right: 9rem;
  height: 100%;

  > span {
    font-size: $semiHeader;
    font-weight: 700;
    white-space: normal;
    text-align: center;
  }
}
.career {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.ol {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: $Li;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;

  > li {
    margin-top: 20px;
    font-weight: 500;
    font-size: $Li;
    > ul {
      margin-top: 15px;

      > li {
        margin-top: 20px;
        font-weight: 500;
        font-size: $Li;
        list-style: circle;
      }
    }
  }
}

// Project

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 200px;
  padding-bottom: 50px;
  border-bottom: 2px solid $seaBlue;
}

.tap-box {
  width: 100%;
  min-height: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}

.tap-li-box {
  width: 250px;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $darkBlue;
  padding: 0, 20px;
  box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.25);
  > span {
    font-size: 1.2rem;
    font-weight: 600;
  }
  > span + span {
    font-size: 1.5rem;
    font-weight: 600;
    white-space: pre-line;
    text-align: center;
  }
  > span + span + span {
    font-size: 1rem;
  }
}

.tap-li-box:hover,
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkBlue;
  color: white;
}

.visit:visited {
  background-color: $darkBlue;
  color: white;
}

.tap-body-box {
  width: 100%;
  border-radius: 20px;
  height: auto;

  background-color: $darkBlue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Project-tap li

.tap-head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 40px;
  color: white;
  width: 100%;
  > h1 {
    font-size: $semiHeader;
    font-weight: 600;
  }

  @media screen and(min-width: 630px) and (max-width: 800px) {
    > h1 {
      font-size: 20px;
    }
    > span {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 630px) {
    > h1 {
      font-size: 15px;
    }
    > span {
      font-size: 12px;
    }
  }
}

.img-section {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  > .window {
    width: 80%;
  }
}

.gifbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 1rem;
  width: 100%;

  > .left {
    background-image: url(./img/ep_arrow-left-bold1.svg);
    background-size: cover;
    width: 40px;
    height: 40px;

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }

    &:active {
      box-shadow: none;
    }
  }
  .overflow-container {
    width: 80%;
    overflow: hidden;

    > .swipe-container {
      display: flex;

      > .swipe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        > img {
          width: 100%;
          height: 100%;
          padding: 0 1px;
        }
      }
    }
  }

  > .right {
    background-image: url(./img/ep_arrow-left-bold.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }
    &:active {
      box-shadow: none;
    }
  }
}
.img-number-box {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;

  > .normal {
    width: 10px;
    height: 12px;
    border-radius: 50%;
    background-color: $backgroundColor;
  }

  > .select {
    background-color: $seaBlue;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 10px;
    height: 12px;
    border-radius: 50%;
  }
}

.site-intro-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 15px;
}

.site-intro-head {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  > h1 {
    color: white;
    font-size: $semiHeader;
    font-weight: 600;
    margin-right: 1rem;
  }
  > span {
    color: #fff;
    font-size: $Li;
  }
  @media screen and (max-width: 630px) {
    flex-direction: column;
    align-items: start;
  }
}

.site-intro {
  color: white;

  > span {
    font-weight: 600;
    margin-bottom: 15px;
  }

  > ul {
    padding: 10px 25px;
    > li {
      margin-bottom: 10px;
    }
  }

  .site-experience-box {
    padding: 10px 0;
    margin-bottom: 15px;
  }
}

.site-stack {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  > button {
    background-color: $seaBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    width: auto;
    min-width: 5rem;
    height: 100%;
    color: white;

    &:hover {
      box-shadow: none;
    }
  }
}

.site-Link {
  display: flex;
  justify-content: end;
  width: 100%;
  > a {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding: 5px;
    width: 110px;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    text-decoration: none;
    &:hover {
      box-shadow: none;
    }
  }

  > .git {
    background-color: black;

    > img {
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }
    margin-right: 20px;
  }

  > .site {
    color: white;
    background-color: #49114f;
  }
}

// Price

.img-box {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container_ul {
    width: 100%;
    padding: 10px;
    border: 2px solid $seaBlue;
    border-radius: 30px;
    height: auto;
    @media screen and(max-width: 800px) {
      min-width: 300px;
    }
  }

  .container_ul > ul {
    padding: 0 20px;
    display: flex;
    min-height: 350px;
    align-items: center;
    overflow-x: auto;
    height: auto;
    white-space: nowrap;
    width: 100%;

    @media screen and(max-width: 800px) {
      flex-direction: column;
      gap: 30px;
      height: 500px;
    }

    > li {
      padding: 10px;
      border-radius: 20px;
      list-style: none;
      background-color: transparent;
      margin-right: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 15px;

      &:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }

      > img {
        width: 200px;
        height: 300px;
        background-size: cover;
      }
      > span {
        font-size: $body;
      }
      @media screen and(max-width: 800px) {
        margin: 0;
        width: 100%;

        > span {
          font-size: 12px;
        }
      }
    }
  }
}

.img-box > .container_ul > ul::-webkit-scrollbar {
  background-color: transparent;
  width: 80%;
  height: 10px;
  padding: 0 30px;
}
.img-box > .container_ul > ul::-webkit-scrollbar-track {
  background-color: transparent;
  width: 30px;
}

.img-box > .container_ul > ul::-webkit-scrollbar-thumb {
  background-color: $darkBlue;
  border-radius: 30px;

  background-clip: padding-box;
}

// price - modal

.img-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  > .img-body {
    width: 50vh;
    height: auto;
    max-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
}

.img-head {
  width: 100%;
  height: 20px;
  text-align: end;
  margin-bottom: 15px;

  z-index: 150;
  > button {
    width: 20px;
    height: 100%;
    background-color: white;
    background-image: url("./img/octicon_x-12.svg");
    background-size: cover;
  }
}

.modal-div {
  width: 50%;

  top: 25%;
  left: 27%;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gifbox-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 2000px;
  height: auto;

  overflow: hidden;

  > .left {
    background-image: url(./img/ep_arrow-left-bold1.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: $seaBlue;
    border-radius: 10px;
    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }

    &:active {
      box-shadow: none;
    }
  }
  .overflow-container {
    width: 60%;
    overflow: hidden;

    > .swipe-container {
      display: flex;
      justify-content: center;
      align-items: center;

      > .swipe {
        width: 100%;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          width: 100%;

          margin: 0;
        }
        > video {
          width: 100%;
          margin: 0;

          > source {
            width: 100%;
          }
        }
      }
    }
  }

  > .right {
    background-image: url(./img/ep_arrow-left-bold.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    background-color: $seaBlue;
    border-radius: 10px;
    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
    }
    &:active {
      box-shadow: none;
    }
  }
}
