// Main-Color
$lightGray: #f5efe7;
$backgroundColor: #f9f7f7;
$skyColor: #dbe2ef;
$seaBlue: #3f72af;
$darkBlue: #112d4e;

// Font
$font: "Noto Sans KR", sans-serif;
$Header: 36px;
$semiHeader: 28px;
$body: 16px;
$phone: 24px;
$Li: 18px;

:root {
  font-size: $body;
  font-family: $font;
}

* {
  font-family: $font;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  background-color: $backgroundColor;
}

// Nav

.navigator {
  width: 100vw;
  height: auto;
  min-height: 80px;
  max-width: 1700px;
  top: 0%;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: $backgroundColor;

  @media screen and (max-width: 900px) {
    justify-content: flex-end;
    padding-right: 20px;
    background-color: transparent;
  }
}

.tapBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  background-color: transparent;
}

.navigator > .tapBtn > .hamburgerBtn {
  display: flex;
  justify-content: flex-end;
  height: auto;
  align-items: flex-end;
  background-color: transparent;
  flex-direction: column;
  cursor: pointer;
}
@keyframes setMotion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigator > .tapBtn > .hamburgerBtn > .tapBtn-bar {
  margin-top: 15px;
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 90px;
  background-color: transparent;
  animation: setMotion 1s;
}

.navigator > .tapBtn > .hamburgerBtn:hover > .tapBtn-bar {
  display: flex;
}

.navi_btn_800 {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: stretch;
  cursor: pointer;
  color: $seaBlue;
  font-size: 20px;
  font-weight: 600;
}

.navigator > .navi_ul {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.navigator > ul {
  display: flex;
  justify-content: center;
}

.navigator > ul > .navi_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.75rem;
  height: 2.4375rem;
  padding: 0, 2rem;
  color: $seaBlue;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

// body

.body {
  width: 100vw;
  display: flex;
  max-width: 1700px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
  margin-top: 100px;

  @media screen and (max-width: 1200px) {
    padding: 0 10rem;
  }

  @media screen and (max-width: 850px) {
    margin-top: 60px;
  }
}

// Header
.header {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 1.0625rem 0.75rem;

  @media screen and (max-width: 850px) {
    justify-content: center;
  }
}

#header {
  font-size: $Header;
  color: $seaBlue;
  font-weight: 900;
}

.phone_box {
  display: flex;
  width: 100%;
  height: auto;
  padding: 1.0625rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #3f72af;

  @media screen and(max-width: 850px) {
    padding: 0;
    flex-direction: column;
    justify-content: center;

    > .myName_box {
      align-items: center;
    }

    > .phone_left {
      margin-bottom: 20px;
      align-items: center;

      > .link {
        align-items: center;
      }

      > .email_box {
        align-items: center;
        > p {
          font-size: 20px;
        }
      }
    }
  }
}

.myName_box {
  display: flex;
  width: 13.3125rem;
  height: 8.4375rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.myName_box > .name {
  color: $darkBlue;
  font-size: $Header;
  font-weight: 600;
  margin-bottom: 10px;
}
.myName_box > .front-end {
  font-weight: 600;
  font-size: $body;
}

.phone_left {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.phone_left > .link {
  display: flex;
  justify-content: end;
  gap: 5%;
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.phone_left > .email_box {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  > p {
    font-size: $phone;
    font-weight: 600;
  }
}

.phone_left > .link > .github {
  display: block;
  width: 50px;
  height: 100%;

  :hover {
    border-radius: 50%;
    background-color: black;

    #git {
      fill: $seaBlue;
    }
  }
}

.phone_left > .link > .velog {
  display: block;
  width: 50px;
  height: 100%;
  :hover {
    rect {
      fill: black;
    }
    path {
      fill: $seaBlue;
    }
  }
}

// Introduce

.column_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
}

.flex_box {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and(max-width: 1300px) {
    flex-direction: column;

    > img {
      margin-bottom: 20px;
    }
  }

  > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }

  > .intro_box {
    > .intro_head > h1 {
      font-size: $Header;
      font-weight: 700;
      border-bottom: 3px solid $seaBlue;
      padding-bottom: 10px;
    }
    > .intro_span {
      padding: 20px;
      > li {
        margin-bottom: 30px;

        > span {
          font-size: $Li;
          font-weight: 500;
        }
      }
    }
  }
}

.flex-center-box {
  padding: 60px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;

  .skillBtn {
    width: 15rem;
    height: 7rem;
    padding: 3.5rem, 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3.125rem;
    background-color: $seaBlue;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    font-size: $Li;
    font-weight: 700;
    cursor: pointer;
  }
}

.modal {
  width: 100%;
  height: auto;
}

.skillBtn:hover {
  background-color: $darkBlue;
  color: white;
  box-shadow: none;
}

.modal_out {
  animation: setModalMotion_out 1s;
}

// skill - modal

@keyframes setModalMotion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes setModalMotion_out {
  0% {
    opacity: 1;
    display: flex;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.modal_background {
  background-color: transparent;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_box {
  animation: setModalMotion 1s;
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: 400px;
  border-radius: 30px;
  border: 3px solid $seaBlue;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 15px, 20px;
}

.modal_head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 15px 10px 0 0;
  > button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-image: url("./img/octicon_x-12.svg");
    background-size: cover;
  }
}

.modal-body-box {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  list-style: none;
  gap: 2rem;
  width: 100%;

  > li {
    width: 5.625rem;
    height: auto;
    background-color: transparent;
    > img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    :hover {
      box-shadow: 0px 6px 6px 0px $seaBlue;
      border-radius: 10px;
    }
    :active {
      box-shadow: none;
    }
  }
}

// Education

#career-header {
  font-size: $semiHeader;
  font-weight: 700;

  padding-bottom: 10px;
  height: 100%;
  width: 100%;
}
.head-box {
  display: flex;
  width: 100%;
  border-bottom: 3px solid $darkBlue;
  > button {
    width: 120px;
    background-color: purple;
    color: white;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 5px;

    &:hover {
      box-shadow: none;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-bottom: 2px solid $seaBlue;

  > li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 1.75rem;
  }
}

.date {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 8rem;
  white-space: hidden;
  margin-right: 9rem;
  height: 100%;

  > span {
    font-size: $semiHeader;
    font-weight: 700;
    white-space: normal;
    text-align: center;
  }
}
.career {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  > ol {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: $Li;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > li {
      margin-top: 20px;
      font-weight: 500;
      font-size: $Li;
      > ul {
        margin-top: 15px;

        > li {
          margin-top: 20px;
          font-weight: 500;
          font-size: $Li;
          list-style: circle;
        }
      }
    }
  }
}
